hand-gesture-calculator-env/
__pycache__/
*.pyc
Gestures/gesture_0/
Gestures/gesture_1/
Gestures/gesture_2/
Gestures/gesture_3/
Gestures/gesture_4/
Gestures/gesture_5/
Gestures/gesture_6/
Gestures/gesture_7/
Gestures/gesture_8/
Gestures/gesture_9/